<h4>Leave a Comment:</h4>
<%= form_for([@blog, @blog.comments.build]) do |f| %>
<form role="form">
    <p>
      <%= f.label :commenter %><br>
      <%= f.text_field :user_id %>
    </p>
    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body, class: "form-control" %>
    </p>
    <p>
      <%= f.submit class: "btn btn-success"%>
    </p>
</form>
<% end %>
