
<!--产品影片demo，经过试验简化后的代码-->
<div class="products-content">
	<div class="container-fluid">
		<h1 class="products">实战案例</h1>
		<h4 class="products text-center">在这里，您将看到数据分析如何创造价值，改变生活。</h4>
	</div>
</div>

<br>

	<div class="productList-wrap">
		<div class="container">
			<div class="row">
				<% @products.each do |product| %>
					<div class="col-md-4">
						<div class="thumbnail" style="background: #fff; border: 0px; padding: 0">
							<span>
							<%= link_to product_path(product) do %>
				        <% if product.photos.present? %>
				          <%= image_tag(product.photos[0].avatar.thumb.url, class: "thumbnail") %>
				        <% else %>
				          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
								<% end %>
				      <% end %>
							</span>

							<div class="caption">
								<div class="productList-item-name">
									<h4 class="f20 p20"><%= product.title %></h4>
									<p class="productList-item-desc mt5 f15"><%= product.description %></p>
								</div>
								<hr>
								<div class="meta" style=style="margin: 15px; border-top: 2px solid #f1f1f1;">
									<span><%= product.created_at.strftime("%Y/%m/%d %I:%M %p") %></span>
								</div>
							</div>
						</div>
		    	</div>
				<% end %>
			</div>
		</div>
	</div>


<!-- Custom-JavaScript-File-Links -->

	<!-- Default-Supportive-JavaScript --> <script type="text/javascript" src="assets/jquery.min.js"></script>
	<!-- Default-JavaScript-File-For-Bootstrap --> <script type="text/javascript" src="assets/bootstrap.min.js"></script>
