

 <body>

<div class="productDetail">
  <div class="productDetail-left bg-color1">
     <!-- multi-pics -->
    <% if @photos.present? %>
      <% @photos.each_with_index do |p, index| %>
        <% if index == 0 %>
          <%= image_tag p.avatar.medium.url %>
          <div style="letter-spacing: -8px">
        <% else %>
          <%= image_tag p.avatar.thumb.url %>
        <% end %>
      <% end %>
      </div>
    <% else %>
        <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
    <!-- multi-pics -->
  </div>


  <div class="productDetail-right bg-color2">
    <h2> <%= @product.title %> </h2>
    <div style="height:100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div> Quantity : <%= @product.quantity %> </div>
    <div class="product-price"> ￥ <%= @product.price %> </div>
    <div class="pull-right">
     <% if @product.quantity.present? && @product.quantity > 0 %>
        <%= link_to("Add to Cart", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger" ) %>
        <% else %>
            已销售一空，无法购买
        <% end %>
    </div>

    <div class="row share">
      <hr>
      <div class="col-md-4">
          <p> Collection popularity（3） </p>
      </div>
      <div class="col-md-3 ">
          <p><i class="fa fa-share-alt" aria-hidden="true"></i> Share </p>
      </div>
      <div class="col-md-4" style="margin-left:-40px;">
         
        <div class='social-share-button' data-title='Fashion' data-img=''
    data-url='' data-desc='' data-via=''>
    <a rel="nofollow " data-site="weibo" class="ssb-icon ssb-weibo" onclick="return SocialShareButton.share(this);" title="Share to Sina Weibo" href="#"></a>

    <a rel="nofollow " data-site="wechat" class="ssb-icon ssb-wechat" onclick="return SocialShareButton.share(this);" title="Share to WeChat" data-wechat-footer="Open your WeChat, click &quot;Discover&quot; button then click the &quot;Scan QR Code&quot; menu." href="#"></a>
    </div>
      </div>

    </div>
  </div>

</div>





    <div class="csstransforms3d.cssanimations">
        <h3>Detail Information</h3>
    </div>

  <div class="productDecription">

    <iframe width="100%" height="480" src="https://www.youtube.com/embed/j53_KDSA1H4" frameborder="0" allowfullscreen></iframe>
  </div>

</body>
